@tailwind base;

@tailwind components;

@tailwind utilities;

@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Fredoka+One&display=swap');


* {
    box-sizing: border-box;
    font-family: 'Nunito', Serif;
}

html {
    height: 100%;
}

body {
    min-height: 100vh;
}

.label-forms {
    font-size: 20px;
    line-height: 27px;
    letter-spacing: 0.1em;
    color: #4A5568;
}

.titre {
font-family: 'Fredoka One', serif;
font-style: normal;
font-weight: normal;
font-size: 32px;
line-height: 39px;
letter-spacing: 0.1em;

}
